/*style.css*/

body
{
  background:url(../images/background_light.jpg) no-repeat fixed center;
  background-size: 100%;
}

#container
{
  background-color: #fff;
  margin: auto;
  width: 960px;
}

#latest article
{
  background:url(../images/background_block_slice.jpg);
  float: left;
  padding: 10px;
  width: 490px;
}

#latest img
{
  width: 450px;
}

#main
{
  background-color: #333;
}

aside
{
  background-color:rgb(169 169 169);

}

footer
{
  background-color: black;
  clear: both;
  height: 50px;
}

footer p {
  color: gray;
}